<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>CrearModificarCliente</servlet-name>
        <servlet-class>Servlets.CrearModificarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarVeterinario</servlet-name>
        <servlet-class>Servlets.EliminarVeterinario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearModificarVeterinario</servlet-name>
        <servlet-class>Servlets.CrearModificarVeterinario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarClientes</servlet-name>
        <servlet-class>Servlets.EliminarClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearModificarClientes</servlet-name>
        <servlet-class>Servlets.CrearModificarClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProveedores</servlet-name>
        <servlet-class>Servlets.EliminarProveedores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearModificarProveedores</servlet-name>
        <servlet-class>Servlets.CrearModificarProveedores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearModificarProductos</servlet-name>
        <servlet-class>Servlets.CrearModificarProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProductos</servlet-name>
        <servlet-class>Servlets.EliminarProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearModificarVendedor</servlet-name>
        <servlet-class>Servlets.CrearModificarVendedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarVendedor</servlet-name>
        <servlet-class>Servlets.EliminarVendedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearModificarCompra</servlet-name>
        <servlet-class>Servlets.CrearModificarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCompra</servlet-name>
        <servlet-class>Servlets.EliminarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearFactura</servlet-name>
        <servlet-class>Servlets.CrearFactura</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearModificarCliente</servlet-name>
        <url-pattern>/CrearModificarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarVeterinario</servlet-name>
        <url-pattern>/EliminarVeterinario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearModificarVeterinario</servlet-name>
        <url-pattern>/CrearModificarVeterinario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarClientes</servlet-name>
        <url-pattern>/EliminarClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearModificarClientes</servlet-name>
        <url-pattern>/CrearModificarClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProveedores</servlet-name>
        <url-pattern>/EliminarProveedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearModificarProveedores</servlet-name>
        <url-pattern>/CrearModificarProveedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearModificarProductos</servlet-name>
        <url-pattern>/CrearModificarProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProductos</servlet-name>
        <url-pattern>/EliminarProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearModificarVendedor</servlet-name>
        <url-pattern>/CrearModificarVendedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarVendedor</servlet-name>
        <url-pattern>/EliminarVendedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearModificarCompra</servlet-name>
        <url-pattern>/CrearModificarCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCompra</servlet-name>
        <url-pattern>/EliminarCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearFactura</servlet-name>
        <url-pattern>/CrearFactura</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
